<div id="location">

  <h1>I am here... <span id="location_url">
<%= "#{@location.name}"%>
  <%= @location.to_micro_format %>
</span></h1>
  <p id="description"><%= @location.description %></p>

  <%= render :partial => 'tags/tag_cloud' %>
  
  <br clear="all"/>
  <%= link_to "Comments", "#new-comment" %>

</div>

<div id="map_container" style="margin-top: 20px;">
  <%= @map.div %>
</div>

<%= render :partial => "locations/new_comment" %>